<style>

	input {
		font-size:10px;
	}

	.PlayingField {
		position:relative;
		float:left;
		background-color:#000000;
		width:204px;
		height:404px;
		/*background-image: url(background.gif);*/
		border-width: 2px;
		border-color: #cccccc;
		border-style: solid;
	}

	.Pause {
		display:none;
		z-index:10;
		position:relative;
		text-align:center;
		top:40%;
		width:100%;
		font-size:15px;
		color:#ffffff;
		font-weight:bold;
		background-color:#cccccc;
		filter:dropshadow(color=#999999,offx=1, offy=1);
	}

	.GameInfo {
		position:relative;
		float:left;
		margin-left:10px;
		font-size:12px;
	}

	.Title {
		text-align:center;
		width:100px;
		height:45px;
		font-size:30px;
		color:#333333;
		font-weight:bold;
	}

	.Preview {
		padding:10px;
		text-align:center;
		width:60px;
		height:60px;
	}

	.Block {
		display: none;
	}
	
	input.NewGame {
		border-width: 2px;
		border-color: #cccccc;
		background-color:#ffffff;
		width:100%;
		border-style: solid;
	}

	.Container {
		margin:5px;
		padding:5px;
		width:130px;
		border-width: 2px;
		border-color: #cccccc;
		border-style: solid;
		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=white,endColorStr=Gainsboro); 
	}

	.s {
		position: absolute;
	}

	.i {
		position: absolute;
		z-index: 2;
	}

	.m {
		position: absolute;
		z-index: 1;
	}
	.ui {
		display:none;
		margin-left:25%;
	}
	
	body {
		font-family:verdana;	
	}
	
	table {
		font-size:12px;
	}
	

	
</style>